### üß≠ Here's the Python Roadmap We'll Follow
### Level 1: Basics of Python

 1. Introduction to Python

 2. Variables and Data Types

 3. Input and Output

 4. Operators

 5. Conditional Statements (if, elif, else)

 6. Loops (for, while)

 7. Break, Continue, Pass

 8. Functions

 9. Strings

 10. Lists

 11. Tuples

 12. Sets

 13. Dictionaries


### Level 2: Intermediate Python


 14. File Handling

 15. Exception Handling

 16. Modules and Packages

 17. List Comprehensions

 18. Lambda Functions

 19. Map, Filter, Reduce

 20. Object-Oriented Programming (OOPs)

 21. Working with Libraries (NumPy, Pandas, Matplotlib)


### Level 3: Data Handling & Analysis


 22. Data Cleaning and Analysis with Pandas

 23. Visualization with Matplotlib & Seaborn

 24. Mini Projects (like Student Data Analysis, Sales Dashboard, etc.)

### üß© Lesson 1: Introduction to Python
üêç What is Python?

Python is a high-level, interpreted programming language that‚Äôs known for its simplicity and readability.
It was created by Guido van Rossum and released in 1991.

Think of Python as a language that lets you focus on solving problems rather than worrying about complex syntax.

| Field                      | Examples                    |
| -------------------------- | --------------------------- |
| **Web Development**        | Django, Flask               |
| **Data Science**           | Pandas, NumPy, Matplotlib   |
| **Machine Learning / AI**  | TensorFlow, Scikit-learn    |
| **Automation / Scripting** | File handling, Web scraping |
| **Game Development**       | Pygame                      |
| **Cybersecurity**          | Pen testing, network tools  |

üåü Key Features of Python
| Feature                 | Description                                  |
| ----------------------- | -------------------------------------------- |
| **Easy to Learn**       | Simple, readable syntax (like English)       |
| **Interpreted**         | No need to compile ‚Äî runs line by line       |
| **Portable**            | Works on Windows, Mac, Linux                 |
| **Open Source**         | Free to use and modify                       |
| **Object-Oriented**     | Supports classes and objects                 |
| **Extensive Libraries** | Has built-in libraries for almost everything |
| **Dynamic Typing**      | No need to declare variable types            |

‚öôÔ∏è How Python Works

You write a Python program (example.py)

Python Interpreter reads the file line by line

It converts the code into bytecode

Then executes it directly on the machine

In [2]:
print("Hello my name is Abhimanyu")

Hello my name is Abhimanyu

üß† Explanation:

print() ‚Üí a built-in function that displays text or values on the screen.

Anything inside quotes " " is a string.

#### üß™ Try It Yourself (Mini Exercises)

Print your name on the screen.
üëâ Example: print("My name is Abhimanyu Kumar Yadav")

Print your age and city in separate lines.

In [10]:
print("Abhimanyu")
print(20)
print("lucknow")

Abhimanyu
20
lucknow

### üßÆ Lesson 2: Variables and Data Types

üß† What is a Variable?

A variable is like a container that stores data (values).
You can think of it as a box with a label, where you can put numbers, words, or other data.

In [11]:
print("python is fun")
print("jnvnjdsnldsnl")

python is fun
jnvnjdsnldsnl

üí¨ Rules for Naming Variables

‚úÖ Allowed:

Must start with a letter or underscore (_)

Can contain letters, numbers, and underscores

Case-sensitive (Name and name are different)

‚ùå Not Allowed:

Can‚Äôt start with a number

Can‚Äôt have spaces or special characters (@, $, %, etc.)

Don‚Äôt use Python keywords (like if, for, class, etc.)

#### üî¢ Python Data Types

| Type      | Example                       | Description                |
| --------- | ----------------------------- | -------------------------- |
| **int**   | `10`, `-5`, `1000`            | Integer numbers            |
| **float** | `3.14`, `5.0`, `-2.5`         | Decimal numbers            |
| **str**   | `"Abhimanyu"`, `'Hello'`      | String (text)              |
| **bool**  | `True`, `False`               | Boolean values             |
| **list**  | `[1, 2, 3]`                   | Ordered collection         |
| **tuple** | `(4, 5, 6)`                   | Ordered & unchangeable     |
| **set**   | `{7, 8, 9}`                   | Unordered, unique elements |
| **dict**  | `{"name": "Abhi", "age": 21}` | Key-value pairs            |

In [12]:
Name = "Abhimanyu"
Age= 22
Height=5.8
Is_student= True

In [13]:
print(Name)

Abhimanyu

In [14]:
print(Age)
print(Height)
print(Is_student)

22
5.8
True

#### üßÆ Checking the Data Type

You can check a variable‚Äôs type using type():

In [17]:
print(type(Name))

<class 'str'>

In [18]:
x= 5
y=4.5

In [19]:
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

### üîÑ Type Conversion (Casting)

You can convert one data type to another, like this:

In [20]:
print(float(x))

5.0

In [21]:
print(int(y))

4

In [22]:
print(str(x))

5

#### üß™ Try It Yourself (Mini Exercises)

Create variables:

name = your name

age = your age

city = your city
Then print them all in one line using commas.

Create a variable num = 10
Convert it into a float and a string, then print all three.

Write a program to store your favorite number, check its data type, and display it.

In [23]:
print("Abhimanyu",
20,
"lucknow")

Abhimanyu 20 lucknow

In [24]:
Num = 10

In [25]:
print(type(Num))

<class 'int'>

In [26]:
print(str(Num))

10

print(float(Num))

In [29]:
x= 10 
print(type(x))
print(x)

<class 'int'>
10

#### üñ•Ô∏è Lesson 3: Input and Output in Python

üó£Ô∏è What is Input and Output?

Input ‚Üí means taking data from the user (like typing your name).

Output ‚Üí means showing data on the screen (like displaying ‚ÄúHello Abhimanyu‚Äù).

üßæ OUTPUT in Python (Using print())
üîπ Basic Printing

The print() function displays information on the screen.

In [30]:
print("my name is ",Name,"and my age is ",Age)

my name is  Abhimanyu and my age is  22

##### Using sep and end Parameters

In [31]:
print("python","is","fun",sep="-")

python-is-fun

In [34]:
print("hello",end=" ")
print("abhimanyu")

hello abhimanyu

üß† Explanation:

sep ‚Üí defines how printed items are separated

end ‚Üí defines what happens at the end of the print (default is a new line \n)

#### ‚å®Ô∏è INPUT in Python (Using input())

The input() function is used to take user input.

üß† Note:
By default, everything you get from input() is a string ‚Äî even if you type numbers.

In [35]:
name = input("Enter your name :")
print("hello ",name)

Enter your name : abhimanyu

hello  abhimanyu

üîπ Taking Numbers as Input

If you want to take numbers, convert them using int() or float().

In [36]:
Age= int(input("Enter your age:"))
height=float(input("Enter your Height:"))
print("Your age is", Age,"and your height is ",height)

Enter your age: 22
Enter your Height: 169

Your age is 22 and your height is  169.0

#### üîπ Taking Multiple Inputs in One Line

üß† Note:
split() divides the input string based on spaces (you can use commas too).

In [40]:
name, age = input("enter your name and age seperated by space :").split()
print("Your Name is",name,"and your Age is ",age)

enter your name and age seperated by space : abhimanyu 22

Your Name is abhimanyu and your Age is  22

#### üîπ Formatted Output (f-strings)

You can easily combine text and variables using f-strings (modern Python feature):

f-strings make your print statements cleaner and easier to read.

#### üß™ Try It Yourself (Mini Exercises)

Take your name and age as input and print:
"Hello <name>, you are <age> years old!"

Take two numbers as input and print their sum.

Take your full name in one input and print only the first name and last name separately.

Create a program that asks for your:

name

favorite subject

university
and prints it nicely using an f-string.

In [42]:
Age = 22
Name = "Abhimanyu"
print(f"My name is {Name}, and i am {Age} years old.")

My name is Abhimanyu, and i am 22 years old.

In [6]:
x= int(input (" Enter values of X:"))
y=int(input (" Enter values ofy by:"))
print(x*y)

 Enter values of X: 22
 Enter values ofy by: 33

726

In [18]:
x,y = map(int ,input("enter values of x and y by space :").split())
print(f"The sum is ,{x*y}")

enter values of x and y by space : 22 33

The sum is ,726

In [20]:
first_name , last_name = input("enter your First name and last name by space :").split()
print(f" My first name is {first_name}")
print(f" My last name is {last_name}")

enter your First name and last name by space : Abhimanyu Yadav

 My first name is Abhimanyu
 My last name is Yadav

In [21]:
Name = input("enter your name :")
fav_sub = input("Enter your Favourite Subject:")
university = input("enter your University:")
print(f"My name is {Name}, my favourite subject is {fav_sub},and my university is {university}")

enter your name : Abhimanyu
Enter your Favourite Subject: DBMS
enter your University: Graphic Era

My name is Abhimanyu, my favourite subject is DBMS,and my university is Graphic Era

### ‚öôÔ∏è Lesson 4: Operators in Python

üß† What is an Operator?

An operator is a symbol that tells Python to perform a specific operation (like addition, comparison, or logic).

##### üî¢ 1Ô∏è‚É£ Arithmetic Operators

Used for mathematical calculations.

| Operator | Example  | Meaning                | Output |
| -------- | -------- | ---------------------- | ------ |
| `+`      | `5 + 3`  | Addition               | 8      |
| `-`      | `5 - 3`  | Subtraction            | 2      |
| `*`      | `5 * 3`  | Multiplication         | 15     |
| `/`      | `5 / 2`  | Division (float)       | 2.5    |
| `//`     | `5 // 2` | Floor Division         | 2      |
| `%`      | `5 % 2`  | Modulus (Remainder)    | 1      |
| `**`     | `2 ** 3` | Exponentiation (Power) | 8      |

In [24]:
x= 10
Y= 5

print(x+Y)
print(x-Y)
print(x*Y)
print(x/Y)
print(x//Y)
print(x%Y)
print(x**Y)

15
5
50
2.0
2
0
100000

#### ‚öñÔ∏è 2Ô∏è‚É£ Comparison (Relational) Operators

Used to compare values.
They return True or False.

| Operator | Example  | Meaning          | Output |
| -------- | -------- | ---------------- | ------ |
| `==`     | `5 == 5` | Equal to         | True   |
| `!=`     | `5 != 3` | Not equal to     | True   |
| `>`      | `5 > 3`  | Greater than     | True   |
| `<`      | `5 < 3`  | Less than        | False  |
| `>=`     | `5 >= 5` | Greater or equal | True   |
| `<=`     | `5 <= 4` | Less or equal    | False  |

In [25]:
x= 10
Y= 5

print(x==Y)
print(x!=Y)
print(x<Y)
print(x>Y)
print(x<=Y)
print(x>=Y)

False
True
False
True
False
True

#### üîÑ 3Ô∏è‚É£ Assignment Operators

Used to assign values to variables.

| Operator | Example  | Same As   |
| -------- | -------- | --------- |
| `=`      | `x = 5`  | x = 5     |
| `+=`     | `x += 3` | x = x + 3 |
| `-=`     | `x -= 3` | x = x - 3 |
| `*=`     | `x *= 3` | x = x * 3 |
| `/=`     | `x /= 3` | x = x / 3 |
| `%=`     | `x %= 3` | x = x % 3 |

In [8]:
a= 10
b = 20
c = 30
d = 20
e = 50
f = 50

b+=10
c-=10
d/=10
e*=10
f%=10

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

10
30
20
2.0
500
0

#### ü§î 4Ô∏è‚É£ Logical Operators

Used to combine conditional statements.

| Operator | Example              | Meaning               | Output |
| -------- | -------------------- | --------------------- | ------ |
| `and`    | `(x > 5 and y < 10)` | True if both are True | True   |
| `or`     | `(x > 5 or y < 2)`   | True if one is True   | True   |
| `not`    | `not(x > 5)`         | Reverses result       | False  |

In [34]:
x= 10 
y= 5
print(x > y and y<x)
print(x > y or y> x)
print(not(x>y))
print(not(x<y))

True
True
False
True

#### üî£ 5Ô∏è‚É£ Identity Operators

Used to compare memory locations (not just values).

| Operator | Example      | Meaning                           |
| -------- | ------------ | --------------------------------- |
| `is`     | `x is y`     | True if both refer to same object |
| `is not` | `x is not y` | True if not same object           |

In [35]:
a= [ 1,2,3]
b=a
c=[1,2,3]

print(a is b)
print(a is not c)
print( a is c)

True
True
False

#### üì¶ 6Ô∏è‚É£ Membership Operators

Used to test if a value is in a sequence (like a list or string).

| Operator | Example             | Meaning           |
| -------- | ------------------- | ----------------- |
| `in`     | `"a" in "data"`     | True if found     |
| `not in` | `"x" not in "data"` | True if not found |

In [38]:
name = "Abhimanyu"
print( "A" in name )
print( "y" not in name )
print( "Z" not in name )

True
False
True

### üß™ Try It Yourself (Mini Exercises)

Take two numbers from the user and print:

Their sum, difference, product, and remainder.

Check whether a user‚Äôs input number is even or odd using % operator.

Take an input number and check if it‚Äôs greater than 10 and less than 50 using logical operators.

Create a small code to check if a word "Python" exists inside a string entered by the user.

In [40]:
x, y = map(int , input("enter two numbers :").split())
print(f" Their sum is {x+y},their product is {x*y},their difference is {x-y}, their remainder is {x%y}")

enter two numbers : 12 11

 Their sum is 23,their product is 132,their difference is 1, their remainder is 1

In [43]:
x = int(input("enter number :"))
print(f" Even number: {x%2 ==0}  , Odd Number: {x%2 == 1}  ")

enter number : 3

 Even number: False  , Odd Number: True

In [44]:
x = int(input("Enter your number:"))
if x%2== 0:
    print("number is Even")
else:
    print("number is Odd")

Enter your number: 4

number is Even

In [46]:
x = int(input("enter number :"))
print(x >10 and x<50 )

enter number : 33

True

In [48]:
x = (input("enter string :"))
print("Python" in x)

enter string : Python is a a Programming laguage

True

### ‚öñÔ∏è Lesson 5: Conditional Statements (if, elif, else)

üß† What Are Conditional Statements?

Conditional statements allow your program to make decisions based on conditions (True or False).

Think of it like this:

‚ÄúIf it‚Äôs raining, take an umbrella. Else, wear sunglasses.‚Äù

In Python, conditions are written using if, elif, and else.

üí° Indentation is very important in Python!
The code inside if, elif, or else must be indented (usually 4 spaces).

In [49]:
x= 18
if x>=18:
    print("you can vote")

you can vote

In [51]:
x= 16
if x>=18:
    print("Adult")
else:
    print("Minor")

Minor

In [53]:
x= 20
citizen = True

if x>=18:
    if citizen:
        print("can vote")
    else:
        print("not a citizen")
else:
    print("you are minor")

can vote

In [54]:
marks = 77
if marks >=90:
    print("Grade a")
elif marks >=75:
    print("grade b")
elif marks >=60:
    print("grade c")
else:
    print("fail")

grade b

üß† Explanation:

Python checks each condition in order until one is True, then skips the rest.

In [55]:
num = 10 
print("even") if num%2 == 0 else print("odd")

even

üß† Explanation:
This is called a Ternary Operator ‚Äî a short way to write if-else in one line.

#### üß™ Try It Yourself (Mini Exercises)

Take a number as input and check:

If it‚Äôs positive, negative, or zero.

Take marks as input and print grades:

A: 90‚Äì100

B: 75‚Äì89

C: 60‚Äì74

D: below 60

Ask for a user‚Äôs age:

If age < 13 ‚Üí print ‚ÄúChild‚Äù

If age < 20 ‚Üí print ‚ÄúTeenager‚Äù

If age < 60 ‚Üí print ‚ÄúAdult‚Äù

Else ‚Üí print ‚ÄúSenior Citizen‚Äù

Ask for a year and check if it‚Äôs a leap year:

A year is leap if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

In [56]:
x=int(input("enter number:"))
if x>0:
    print("positive")
elif x<0:
    print("Negative")
else:
    print("zero")

enter number: 3

positive

In [58]:
marks=int(input("Enter Marks :"))
if marks >=90:
    print("Grade a")
elif marks >=75:
    print("grade b")
elif marks >=60:
    print("grade c")
else:
    print("Grade D")

Enter Marks : 79

grade b

In [59]:
age=int(input("Enter age :"))
if age <=13:
    print("child")
elif age <=20:
    print("teenager")
elif age <60:
    print(" Adult")
else:
    print("Senior citizen")

Enter age : 61

Senior citizen

In [67]:
year=int(input("Enter Year :"))
if year%4 == 0 :
    if year%100 !=0:
       print("leap year")
    elif year%400==0:
        print("leap year")
else:
    print("Not a leap year")

Enter Year : 220

leap year

### üîÅ Lesson 6: Loops in Python (for & while)

üß† What Are Loops?

A loop lets you execute a block of code multiple times ‚Äî instead of writing it again and again.

For example:

If you want to print ‚ÄúHello‚Äù 5 times, you can use a loop instead of 5 print statements.

Python has two main types of loops:

for loop

while loop

#### 1Ô∏è‚É£ The for Loop

Used when you want to repeat something a fixed number of times or go through each item in a sequence (like a list, string, or range).

Example 1: Using range()

In [68]:
for i in range(5):
    print("Hello")

Hello
Hello
Hello
Hello
Hello

üß† Explanation:

range(5) gives numbers 0 to 4 (5 values)

The loop runs 5 times

In [69]:
for i in range(1 ,6):
    print(i)

1
2
3
4
5

üß† range(1, 6) ‚Üí starts at 1, ends before 6.

##### üîπ Example 3: Using Step in range()

In [70]:
for i in range(2,12,2):
    print(i)

2
4
6
8
10

üß† Here:

2 ‚Üí start

11 ‚Üí stop (excluded)

2 ‚Üí step size (jump by 2)

##### üîπ Example 4: Looping Through a String

In [71]:
for ch in "Hello":
    print(ch)

H
e
l
l
o

#### üîπ Example 5: Looping Through a List

In [72]:
fruits = ['Apple','Banana','CHerry']
for f in fruits:
    print(f)

Apple
Banana
CHerry

### üî∏ 2Ô∏è‚É£ The while Loop

Used when you don‚Äôt know in advance how many times to run ‚Äî the loop runs while a condition is True.

In [73]:
i=1
while i<=5:
    print("count",i)
    i+=1

count 1
count 2
count 3
count 4
count 5

üß† Explanation:

Starts with i = 1

Runs while i <= 5

Increases i by 1 each time

‚ö†Ô∏è If you forget i += 1, the loop will never end (infinite loop).

In [74]:
i>5
while i>0:
    print(i)
    i-=1

6
5
4
3
2
1

#### üîπ Example 3: Using User Input

In [75]:
password=" "
while password !="1234":
    password = input("enter Pass:")
print("acces Denied:")

enter Pass: 1234

acces Denied:

#### ‚öôÔ∏è Loop Control Statements

These special keywords control how loops behave.

| Keyword    | Description                                       |
| ---------- | ------------------------------------------------- |
| `break`    | Stops the loop immediately                        |
| `continue` | Skips the current iteration and continues to next |
| `pass`     | Does nothing (used as a placeholder)              |

In [78]:
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

i==5 means when the value of i will be equal to 5 it will stop the loop

In [79]:
for i in range (1,9):
    if i==3:
        continue
    print(i)

1
2
4
5
6
7
8

i==3 means when the value of i is 3 it will skip this 3 and will print the next number

### üß™ Try It Yourself (Mini Exercises)

Print numbers from 1 to 10 using a for loop.

Print only even numbers from 1 to 20.

Print the sum of numbers from 1 to 50 using a loop.

Take a number from the user and print its multiplication table using a loop.

Use a while loop to keep asking the user‚Äôs name until they type "Abhimanyu".

Use a loop to print this pattern:

In [80]:
for i in range ( 1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [82]:
for i in range ( 2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [1]:
sum = 0
for i in range (1,51):
    sum +=i
print(sum)

1275

In [ ]:
i=1
sum = 0
while 1<=50:
    sum += i
    i += 1
print(sum)

In [1]:
num=int(input("enter number:"))
print(f"Table {num}")
for n in range(1,11):
    print(num*n)

enter number: 4

Table 4
4
8
12
16
20
24
28
32
36
40

In [8]:
num=int(input("enter number:"))
print(f"Table {num}")
for n in range(1,11):
    print(f"{num} x {n} = {num*n} ")

enter number: 4

Table 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [2]:
while True:
    user = input("Enter User Name: ")
    if user == "Abhimanyu":
        print("Access Granted ")
        break                 # stops the loop when correct ID is entered
    else:
        print("Access Denied  ‚Äî Try again.")

Enter User Name:  Raghav

Access Denied  ‚Äî Try again.

Enter User Name:  Abhimanyu

Access Granted

In [24]:
num = 6
for i in range (1, num,+1):
    print("*" * i)

*
**
***
****
*****

In [25]:
num = 5
for i in range (1, num+1):
    print("*" * i)

*
**
***
****
*****

In [20]:
num = 5
for i in range ( num, 0 , -1):
    print("*" * i)

*****
****
***
**
*

### üß© Lesson 7: Break, Continue, and Pass Statements

üß† What Are They?

They are called Loop Control Statements ‚Äî they help us control the flow of loops (either stop early, skip something, or do nothing).

| Statement  | Purpose                                           |
| ---------- | ------------------------------------------------- |
| `break`    | Stop the loop immediately                         |
| `continue` | Skip the current iteration and go to the next one |
| `pass`     | Do nothing (placeholder for future code)          |

#### üîπ 1Ô∏è‚É£ break Statement

Used to exit the loop when a certain condition is met.

In [27]:
for i in range ( 1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

#### üß© Example 2: break in a while Loop

In [1]:
i=1
while i<=10:
    print(i)
    if i==5:
        break
    i += 1

1
2
3
4
5

In [2]:
for i in range (1,10):
    if i==5:
        continue
        
    print(i)

1
2
3
4
6
7
8
9

#### üß© Example 2: Print Only Even Numbers

In [3]:
for i in range (1,10):
    if i%2 !=0:
        continue
    print(i)

2
4
6
8

### üîπ 3Ô∏è‚É£ pass Statement

Used when you want to do nothing ‚Äî just keep a placeholder for future code.

üß† Why use pass?
Let‚Äôs say you‚Äôre planning to write a function or loop later but don‚Äôt want an error now ‚Äî pass keeps your code valid.

In [4]:
x = 10

if x > 5:
    pass  # will add code later
else:
    print("x is smaller than 5")

### üß™ Try It Yourself (Mini Exercises)

Write a for loop from 1 to 10 ‚Äî stop when you reach 7 using break.

Write a for loop from 1 to 20 ‚Äî skip all multiples of 3 using continue.

Write a loop from 1 to 5 using pass inside ‚Äî it should run but do nothing.

Create a while loop that keeps asking for a number until the user types 0, then break the loop.

In [5]:
for i in range ( 1, 10):
    if i == 7:
        break
    print(i)

1
2
3
4
5
6

In [7]:
for i in range (1,10):
    if i%3 ==0:
        continue
    print(i)

1
2
4
5
7
8

In [10]:
while True:
    num = int(input("Enter Number:"))
    if num ==0:
        break
    print(num)

Enter Number: 2

2

Enter Number: 0

### üß© Lesson 8: Functions in Python

üß† What is a Function?

A function is a block of reusable code that performs a specific task.

You write it once, and you can use it as many times as you want.

üìò Why Use Functions?

‚úÖ Avoid writing the same code multiple times
‚úÖ Make your code organized and easy to read
‚úÖ Helps divide big programs into smaller parts
‚úÖ Makes debugging easier

#### üîπ 1Ô∏è‚É£ Creating a Function

You use the keyword def to define a function.

In [9]:
def greet():
    print("Hello Abhimanyu")
greet()

Hello Abhimanyu

#### üîπ 2Ô∏è‚É£ Function with Parameters

You can pass data into a function using parameters.

üß† Parameters let you customize what the function does.

In [16]:
def greet(name):
    print("Hello",name)
greet("Abhimanyu")

Hello Abhimanyu

#### üîπ 3Ô∏è‚É£ Function with Return Value

A function can also return data using the return keyword.

In [18]:
def add (a,b):
    return a+b
add(4,5)

9

#### üîπ 5Ô∏è‚É£ Function with Multiple Returns

A function can return more than one value as a tuple.

In [21]:
def calc (a,b):
    return a+b , a-b
calc(10,5)

(15, 5)

In [22]:
sum_ , diff= calc(10, 5)
print("sum",sum_)
print("difference", diff)

sum 15
difference 5

#### üîπ 6Ô∏è‚É£ Calling One Function Inside Another

In [29]:
def square(num):
    return num*num

def display_square(n):
    result=square(n)
    print(f"the square of {n} is {result}")

display_square(6)

the square of 6 is 36

### üß™ Try It Yourself

Write a function multiply(a, b) that returns their product.

Write a function is_even(num) that returns True if the number is even, otherwise False.

Write a function greet_user(name, age) that prints ‚ÄúHello [name], you are [age] years old.‚Äù

Write a function area_of_circle(radius) that returns the area of a circle. (Hint: 3.14 * radius * radius)

In [31]:
def Product(a,b):
    return a*b
Product(4,5)

20

In [33]:
def is_even(num):
    if num%2 == 0:
        return True
    else:
        return False

is_even(4)

True

In [37]:
def greet(name , age):
    print(f"Hello {name} and your age is {age}")

greet("Abhimanyu",22)

Hello Abhimanyu and your age is 22

In [40]:
def greet():
    name=input("enter Your name:")
    age = int(input("enter your age "))
    print(f"Hello {name} ,and your age is {age}")

greet()

enter Your name: Abhimanyu
enter your age  22

Hello Abhimanyu ,and your age is 22

In [48]:
def area_of_circle(radius):
    pi=3.14
    return ( pi*radius*radius)

area_of_circle(5)

78.5

In [51]:
def area_of_circle(radius):
    pi=3.14
    return ( pi*radius*radius)

result= area_of_circle(5)
print("area of circle is ",result)

area of circle is  78.5

### üß© Lesson 9: Types of Functions, Variable Scope & Lambda Functions

üß† First ‚Äî What Are the Types of Functions in Python?

There are mainly two types:

| Type                       | Description                 | Example                                             |
| -------------------------- | --------------------------- | --------------------------------------------------- |
| **Built-in Functions**     | Already available in Python | `print()`, `len()`, `sum()`, `max()`, `min()`, etc. |
| **User-defined Functions** | Created by you using `def`  | `def greet(): ...`                                  |

üîπ 1Ô∏è‚É£ Built-in Functions

These are ready-made functions you can use directly.

In [1]:
print(type("Abhimanyu"))

<class 'str'>

In [4]:
print(min(1,2,3))
print(max(1,2,3))

1
3

### üîπ 2Ô∏è‚É£ User-defined Functions

You‚Äôve already seen these.

In [5]:
def greet(name):
    print("Hello",name)
greet("Abhimanyu")

Hello Abhimanyu

### üîπ 3Ô∏è‚É£ Variable Scope (Local vs Global Variables)

This is one of the most important parts of functions!

| Type                | Where it‚Äôs defined    | Where it‚Äôs accessible     |
| ------------------- | --------------------- | ------------------------- |
| **Local Variable**  | Inside a function     | Only inside that function |
| **Global Variable** | Outside all functions | Everywhere in the program |

#### üß© Example 1: Local Variable

üß† Local variables exist only inside the function.

In [6]:
def show():
    x=5
    print("local variable:",x)
show()

local variable: 5

#### üß© Example 2: Global Variable

üß† Global variables can be used anywhere.

In [8]:
x=10
def show():
    print("Inside (local variable)",x)
show()
print("outside (global variable )",x)

Inside (local variable) 10
outside (global variable ) 10

#### üß© Example 3: Modify Global Variable Inside Function

If you want to change a global variable inside a function, you must use the keyword global.

In [10]:
x=5
def modify():
    global x
    x=10
modify()
print("now x is :",x)

now x is : 10

#### üîπ 4Ô∏è‚É£ Lambda (Anonymous) Functions

A lambda function is a short, one-line function without using def

In [12]:
add = lambda a,b: a+b
print(add(5,4))

9

#### üß© Example 2: Square a number

In [13]:
square = lambda x: x*x
print(square(5))

25

#### Example 3: Conditional Lambda

In [14]:
even_odd = lambda x:"even" if x%2 == 0 else "odd"
print(even_odd(4))

even

### üß™ Try It Yourself

Write a global variable a = 5.
Inside a function, change it to 10 using the global keyword.
Print before and after calling the function.

Create a lambda function to:

Find cube of a number

Return ‚ÄúPositive‚Äù if number > 0, otherwise ‚ÄúNegative‚Äù

Create a normal function that takes two numbers and returns their difference.

In [18]:
x= 5
def show():
    print("before:",x)
show()

before: 5

In [35]:
a= 5

def change ():
    global a
    a = 10
    
print("Before",a)
change()
print("After ",a)

Before 5
After  10

In [42]:
cube= lambda x: x**x
print(cube(3))

27

In [43]:
cube= lambda x: x*x*x
print(cube(5))

125

In [38]:
pos_neg = lambda x: "positive" if x >0 else "negative"
print(pos_neg(2))

positive

In [39]:
pos_neg = lambda x: "positive" if x >0 else "negative"
print(pos_neg(-2))

negative

In [41]:
def dif():
    x,y = map( int,input("Enter two numbers:").split())
    print(f"The difference between them is {x-y}")
dif()

Enter two numbers: 5 3

The difference between them is 2

### üß© Lesson 10: Lists in Python

üß† What is a List?

A list is a collection of items (numbers, strings, or both) stored in a single variable.

You can think of a list like a container that can hold multiple values at once.


‚úÖ Lists are written inside square brackets [ ]
‚úÖ Items are separated by commas (,)

üß† Why Use Lists?

To store multiple values in one variable

Easy to add, remove, and modify items

Very useful in loops, data handling, and real-world programs

In [44]:
fruits=["apple","Banana","Cherry"]
print(fruits)

['apple', 'Banana', 'Cherry']

#### üîπ 1Ô∏è‚É£ Accessing List Elements (Indexing)

Each item in a list has an index number, starting from 0.

| Index | Value  |
| ----- | ------ |
| 0     | apple  |
| 1     | banana |
| 2     | cherry |

In [45]:
fruits[1]

'Banana'

#### üîπ Negative Indexing

You can also use negative numbers to start from the end.

| Index | Value  |
| ----- | ------ |
| -3    | apple  |
| -2    | banana |
| -1    | cherry |

#### üîπ 2Ô∏è‚É£ Changing List Items

You can modify a specific element by its index.

In [46]:
fruits[2]="coco"
print(fruits)

['apple', 'Banana', 'coco']

#### üîπ 3Ô∏è‚É£ Adding Elements
‚ûï append() ‚Üí adds to the end

In [47]:
fruits.append("cherry")
print(fruits)

['apple', 'Banana', 'coco', 'cherry']

#### ‚ûï insert() ‚Üí adds at a specific position

In [48]:
fruits.insert(3,"dond")
print(fruits)

['apple', 'Banana', 'coco', 'dond', 'cherry']

#### üîπ 4Ô∏è‚É£ Removing Elements
‚ùå remove() ‚Üí removes by value

In [49]:
fruits.remove("dond")
print(fruits)

['apple', 'Banana', 'coco', 'cherry']

#### ‚ùå pop() ‚Üí removes by index (or last if not given)

In [50]:
fruits.pop(2)
print(fruits)

['apple', 'Banana', 'cherry']

#### ‚ùå del ‚Üí delete item or whole list

In [51]:
del fruits[0]
print(fruits)

['Banana', 'cherry']

#### üîπ 5Ô∏è‚É£ List Length

Use len() to count number of items in a list.

In [52]:
print(len(fruits))

2

#### üîπ 6Ô∏è‚É£ Loop Through a List

In [53]:
for fruit in fruits:
    print(fruits)

['Banana', 'cherry']
['Banana', 'cherry']

#### üîπ 7Ô∏è‚É£ Check if Item Exists

In [56]:
fruits=["apple","Banana","Cherry"]
if "Banana" in fruits:
    print("Exists")

Exists

#### üîπ 8Ô∏è‚É£ List Slicing

You can access a range of items using slicing:

In [57]:
num=[1,2,3,4,5,6,7]
print(num[1:3])

[2, 3]

In [58]:
print(num[:3])

[1, 2, 3]

In [59]:
print(num[3:])

[4, 5, 6, 7]

In [62]:
print(num[1:-1])

[2, 3, 4, 5, 6]

#### üîπ 9Ô∏è‚É£ Combining Lists
‚ûï Using +

In [63]:
list1=[1,2,3]
list2=[4,5,6]
list3 =list1+list2
print(list3)

[1, 2, 3, 4, 5, 6]

#### üîπ üîü Copying Lists

Use copy() to safely copy a list.

In [64]:
a=[2,3,4]
b=a.copy()
b.append(6)
print(a)
print(b)

[2, 3, 4]
[2, 3, 4, 6]

### üß™ Try It Yourself

Create a list numbers = [1,2,3,4,5] and:

Change the 3rd element to 10

Add 20 at the end

Remove 1

Print the updated list

Create a list of fruits and print only the first 3 using slicing.

Merge two lists of your choice using +.

In [65]:
list1=[1,2,3,4,5]
print(list1)

[1, 2, 3, 4, 5]

In [66]:
list1[3] =10
print(list1)

[1, 2, 3, 10, 5]

In [79]:
list1.append(20)
print(list1)

[2, 3, 4, 5, 20, 20]

In [80]:
list1.pop(5)

20

In [81]:
print(list1)

[2, 3, 4, 5, 20]

In [83]:
fruits=["apple","Banana","Cherry","Guavava","pine"]
print(fruits[:3])

['apple', 'Banana', 'Cherry']

In [84]:
list1=[1,2,3]
list2=[4,5,6]
list3 =list1+list2
print(list3)

[1, 2, 3, 4, 5, 6]

### üß© Lesson 11: List Functions and Methods in Python

#### üîπ 2Ô∏è‚É£ max() and min() ‚Üí Find Largest and Smallest Value

In [85]:
print("max:",max(list3))

max: 6

In [87]:
print("min:",min(list3))

min: 1

In [88]:
print("sum:",sum(list3))

sum: 21

#### üîπ 4Ô∏è‚É£ sort() ‚Üí Sort Items in Ascending or Descending Order

In [89]:
list4=[3,1,4,5,2,5,6]
list4.sort()
print(list4)

[1, 2, 3, 4, 5, 5, 6]

In [90]:
list4.sort(reverse=True)
print(list4)

[6, 5, 5, 4, 3, 2, 1]

In [91]:
list4.reverse()
print(list4)

[1, 2, 3, 4, 5, 5, 6]

#### üîπ 6Ô∏è‚É£ count() ‚Üí Count Occurrences of an Item

In [93]:
list5=[1,1,4,5,2,5,1,5,5,5]
print(list5.count(1))

3

#### üîπ 7Ô∏è‚É£ index() ‚Üí Find Position (Index) of an Item

In [94]:
print(list5.index(4))

2

#### 9Ô∏è‚É£ extend() ‚Üí Add Another List to the End

In [95]:
list1=[1,2,3]
list2=[4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

### üß™ Try It Yourself

Create a list: [5, 2, 8, 1, 3]

Sort it in ascending and descending order

Reverse it

Find the sum, min, and max

Create a fruit list with duplicates and count how many times ‚Äúapple‚Äù appears.

Merge two lists [10,20,30] and [40,50] using extend().

In [96]:
list1=[5,2,8,1,3]
list1.sort()
print(list1)

[1, 2, 3, 5, 8]

In [97]:
list1.sort(reverse=True)
print(list1)

[8, 5, 3, 2, 1]

In [100]:
list1=[5,2,8,1,3]
print("sum:",sum(list1))

sum: 19

In [101]:
list1=[5,2,8,1,3]
print("min:",min(list1))

min: 1

In [102]:
list1=[5,2,8,1,3]
print("max:",max(list1))

max: 8

In [103]:
fruits=["apple","Banana","apple","apple","pine"]
print(fruits.count("apple"))

3

In [105]:
list1=[1,2,3,9,10]
list2=[4,5,6,7,8]
list1.extend(list2)
print(list1)

[1, 2, 3, 9, 10, 4, 5, 6, 7, 8]

### üß© Lesson 12: Tuples in Python

üß† What is a Tuple?

A tuple is similar to a list, but there‚Äôs one big difference:

üß± Tuples are immutable ‚Äî which means once created, you cannot change, add, or remove their elements.

‚úÖ Lists ‚Üí Changeable (Mutable)
‚úÖ Tuples ‚Üí Unchangeable (Immutable)


üß† Why Use Tuples?

To store fixed data that shouldn‚Äôt change

They are faster than lists

Used for data safety and dictionary keys

#### üîπ 1Ô∏è‚É£ Creating Tuples

Tuples are written inside parentheses ( )

In [106]:
num=(1,2,3,4)
print(type(num))
print(num)

<class 'tuple'>
(1, 2, 3, 4)

‚úÖ You can also create a tuple without parentheses (Python automatically treats it as a tuple):

In [108]:
print(num[2])

3

In [109]:
print(num[1:3])

(2, 3)

 #### üîπ  Converting Between List and Tuple

If you need to modify a tuple, first convert it to a list, make changes, then convert back.

In [110]:
fruits=("apple","Banana","apple","apple","pine")
fruits_list=list(fruits)
print(fruits_list)
fruits_list.append("coco")
fruits=tuple(fruits_list)
print(fruits)

['apple', 'Banana', 'apple', 'apple', 'pine']
('apple', 'Banana', 'apple', 'apple', 'pine', 'coco')

### üß™ Try It Yourself

Create a tuple numbers = (1, 2, 3, 4, 5) and:

Print its length

Check if 3 exists

Print values from index 1 to 4

Create a tuple with duplicate values and count how many times one value appears.

Convert a tuple into a list, add a new item, then convert it back to a tuple.

In [111]:
numbers = (1, 2, 3, 4, 5)
print(len(numbers))

5

In [112]:
numbers = (1, 2, 3, 4, 5)
if 3 in numbers:
    print("exists")

exists

In [114]:
print(numbers[1:4])

(2, 3, 4)

In [116]:
numbers = (1, 2, 3, 4, 5,1,4,2,5,1,1,4,6)
print(numbers.count(5))

2

In [118]:
fruits=("apple","Banana","apple","apple","pine")
fruits_list=list(fruits)
print(fruits_list)
fruits_list.append("guavava")
fruits=tuple(fruits_list)
print(fruits)

['apple', 'Banana', 'apple', 'apple', 'pine']
('apple', 'Banana', 'apple', 'apple', 'pine', 'guavava')

### üß© Lesson 10: Sets in Python

üîπ What is a Set?

A set in Python is a collection of unique and unordered items.
It means:

Duplicates are not allowed

Items have no specific order

It can store different types of data (int, string, etc.)

| Feature       | Description                              |
| ------------- | ---------------------------------------- |
| **Unordered** | The order of elements is not fixed       |
| **Unique**    | No duplicates allowed                    |
| **Mutable**   | You can add or remove items              |
| **Unindexed** | You cannot access elements using indexes |

In [12]:
set={1,2,3,4}
print(set)

{1, 2, 3, 4}

#### Basic Set Operations
1Ô∏è‚É£ Add an Element

In [13]:
set.add(4)
print(set)

{1, 2, 3, 4}

#### 2Ô∏è‚É£ Add Multiple Elements

In [3]:
set.update([5,6,7])
print(set)

{1, 2, 3, 4, 5, 6, 7}

#### 3Ô∏è‚É£ Remove Elements

In [4]:
set.remove(4)
set.discard(7)
print(set)

{1, 2, 3, 5, 6}

#### 4Ô∏è‚É£ Clear or Delete

In [5]:
set.clear()

#### Set Operations (Math Style)

Python sets support union, intersection, difference, and symmetric difference.

‚úÖ Example 1: Union (A ‚à™ B)

Returns all unique items from both sets.

In [7]:
set_a={1,2,3}
set_b={3,4,5}
print(set_a.union(set_b))

{1, 2, 3, 4, 5}

#### ‚úÖ Example 2: Intersection (A ‚à© B)

Returns items common to both sets.

In [8]:
print(set_a.intersection(set_b))

{3}

#### ‚úÖ Example 3: Difference (A - B)

Returns items in A but not in B.

In [9]:
print(set_a.difference(set_b))

{1, 2}

#### ‚úÖ Example 4: Symmetric Difference (A Œî B)

Returns items that are in A or B but not both.

In [10]:
print(set_a.symmetric_difference(set_b))

{1, 2, 4, 5}

### üß™ Practice Time!

Try these exercises üëá

Create a set of {10, 20, 30, 40} and add 50 to it.

Find the union and intersection of {1, 2, 3} and {2, 3, 4}.

Remove a value from a set safely (so it won‚Äôt give an error if it doesn‚Äôt exist).

In [11]:
a={10,20,30,40}
print(a)

{40, 10, 20, 30}

In [12]:
a.add(50)
print(a)

{40, 10, 50, 20, 30}

In [13]:
set_a={1,2,3}
set_b={2,3,4}
print(set_a.union(set_b))

{1, 2, 3, 4}

In [14]:
print(set_a.intersection(set_b))

{2, 3}

In [16]:
a.discard(70)
print(a)

{40, 50, 20, 30}

### üß≠ Lesson 11: Dictionaries in Python

üîπ What is a Dictionary?

A dictionary in Python is a collection of key‚Äìvalue pairs.
Each key is unique, and it maps to a specific value ‚Äî just like a real-life dictionary (word ‚Üí meaning).

| Feature                           | Description                                                             |
| --------------------------------- | ----------------------------------------------------------------------- |
| **Key-Value pairs**               | Data is stored as `key: value`                                          |
| **Keys are unique**               | Duplicate keys are not allowed                                          |
| **Mutable**                       | You can add, change, or remove items                                    |
| **Unordered (before Python 3.7)** | Doesn‚Äôt maintain order (but from Python 3.7+, it keeps insertion order) |

In [17]:
student={"name":"Abhimanyu","age":22,"Marks":99}
print(student)

{'name': 'Abhimanyu', 'age': 22, 'Marks': 99}

In [18]:
print(student["Marks"])

99

#### ‚úÖ Accessing Values

Use the key name inside square brackets [] or the .get() method.

In [20]:
print(student.get("age"))

22

#### ‚úÖ Adding New Items

In [23]:
student["City"]="Luck"
student["State"]="UP"
student["Pass"]="Ok"
print(student)

{'name': 'Abhimanyu', 'age': 22, 'Marks': 88, 'course': 'BCA', 'City': 'Luck', 'State': 'UP', 'Pass': 'Ok'}

#### ‚úÖ Changing Values

In [24]:
student["Marks"]=88
print(student)

{'name': 'Abhimanyu', 'age': 22, 'Marks': 88, 'course': 'BCA', 'City': 'Luck', 'State': 'UP', 'Pass': 'Ok'}

#### ‚úÖ Removing Items

In [25]:
student.pop("City")

'Luck'

In [26]:
student.popitem()

('Pass', 'Ok')

In [27]:
del student["course"]

In [28]:
print(student)

{'name': 'Abhimanyu', 'age': 22, 'Marks': 88, 'State': 'UP'}

#### ‚úÖ Looping Through a Dictionary

You can loop through keys, values, or both.

In [31]:
student={"name":"Abhimanyu","age":22,"Marks":99}
for key in student:
    print(key)
for value in student.values():
    print(value)
for key,value in student.items():
    print(key, ":" ,value)

name
age
Marks
Abhimanyu
22
99
name : Abhimanyu
age : 22
Marks : 99

#### ‚úÖ Nested Dictionaries

A dictionary inside another dictionary ‚Äî useful for structured data.

In [33]:
students={"student1":{"name":"Abhimanyu","age":22},"student2":{"name":"bhiman","age":22}}
print(students)

{'student1': {'name': 'Abhimanyu', 'age': 22}, 'student2': {'name': 'bhiman', 'age': 22}}

In [34]:
print(students["student1"]["name"])

Abhimanyu

### üß™ Practice Time!

Try these small exercises üëá

Create a dictionary with your details ‚Äî name, age, city, and college.

Add a new key "hobby" and set its value.

Use a loop to print all key-value pairs.

Make a nested dictionary of 2 students with name and marks.

In [35]:
details={"name":"Abhimanyu","age":22,"city":"Lucknow","college":"GEU"}
print(details)

{'name': 'Abhimanyu', 'age': 22, 'city': 'Lucknow', 'college': 'GEU'}

In [37]:
details["hobby"]="Game"
print(details)

{'name': 'Abhimanyu', 'age': 22, 'city': 'Lucknow', 'college': 'GEU', 'hobby': 'Game'}

In [39]:
for key ,value in details.items():
    print(key ,":", value)

name : Abhimanyu
age : 22
city : Lucknow
college : GEU
hobby : Game

In [41]:
students={"student1":{"name":"Abhimanyu","marks":82},"student2":{"name":"bhiman","marks":87}}
for key, value in students.items():
    print(key,":",value)

student1 : {'name': 'Abhimanyu', 'marks': 82}
student2 : {'name': 'bhiman', 'marks': 87}

### üß© Lesson: Strings in Python (clear, simple, with examples & exercises)
What is a string?

A string is a sequence of characters (text). In Python, strings are written inside single quotes '...', double quotes "...", or triple quotes '''...''' / """...""".

### Practice exercises (try these)

Ask user for full name, then print first and last name separately.

Take a sentence and count how many words it has.

Replace all spaces in a sentence with hyphens (-).

Check whether a given string is a palindrome (ignore case and spaces).

Given "apple,banana,cherry", create a list of fruits and then print them one per line.

In [5]:
firstname , lastname = input("Enter name by space :").split()
print(f"my first nameis {firstname}")
print(f"my last name is {lastname}")

Enter name : abhi manyu

my first nameis abhi
my last name is manyu

In [9]:
s="Hello how are you "
words=s.split()
word_count=len(words)
print("totoal words are :" ,word_count)

totoal words are : 4

In [12]:
s = "Hello how are you"
s = s.replace(" ", "-")
print(s)

Hello-how-are-you

In [13]:
user=input("Enter senetence")
if user==user[::-1]:
    print("palin")
else:
    print("not")

Enter senetence abba

palin

In [20]:
fruits = "Apple,Banana,Cherry"

fruit_list = fruits.split(',')

for fruit in fruit_list:
    print(fruit)

Apple
Banana
Cherry